@charset "UTF-8";
/* CSS Document */

html{
	background-color: #fff;
	color: #000000;
	font: normal 100%/1.56 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6, ul, ol, dl,
p, blockquote, table, hr {
  margin: 0 0 1.25rem;
}

