@charset "UTF-8";
/* CSS Document */

html{
	background-color: #fff;
}

body {
	background-size: 100%;
	font-size: 100%;
	font-family: Helvetica, sans-serif;
	line-height: 1.5rem;
	/*opacity: .5;*/
}
