@charset "UTF-8";
/* CSS Document */

html{
	background-color: #fff;
	width: 80%;
}

body {
	background-size: 100%;
	font-size: 100%;
	font-family: Helvetica, sans-serif;
	line-height: 1.5rem;
}

h1 {
	font-weight: bold;
	font-color: crimson;
}

